<div class="container ">
    <div class="post">
        <div class="row personal-info">
            <div class="col-3 personal-img">
                <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
            </div>
            <div class="col-9 name">
                <div class="row">
                    <h5>napil helmy mansor</h5>
                </div>
                <div class="row">
                    <h5>math teacher</h5>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="col">
                <div class="row">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lo
                    </p>
                </div>
                <div class="row files">
                    <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                </div>
            </div>
        </div>
        <div class="row likes">
            <likes [isActive]="tweet.isLiked" [likeCount]="tweet.likesCount"></likes>
        </div>
    </div>
</div>