<footer class="pl-5 pr-5 text-lg-start">
    <div class="container-fluid footer-body">
        <div class="row">
            <div class="col copy-write">
                <P> Copyright <i class="fa fa-copyright" aria-hidden="true"></i> LMS ,inc All rights reserved.</P>
            </div>

            <section class="">
                <a class="btn btn-primary  m-1" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook"></i
      ></a>

                <a class="btn btn-primary  m-1" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i
      ></a>

                <a class="btn btn-primary  m-1" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i
      ></a>

                <a class="btn btn-primary  m-1" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i
      ></a>

                <a class="btn btn-primary  m-1" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin"></i
      ></a>
                <a class="btn btn-primary  m-1" style="background-color: #333333;" href="#!" role="button"><i class="fab fa-github"></i
      ></a>
            </section>
        </div>
    </div>
</footer>
