<div class="container">
    <div class="row first-row">

        <button class="btn btn-outline-danger">PDF Assignment</button>
        <button class="btn btn-outline-danger">Online Assignment</button>
    </div>

    <div class="row secound-row">
        <button class="btn mb-3">Type Question</button>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" placeholder="A)" aria-describedby="basic-addon1">
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" placeholder="B)" aria-describedby="basic-addon1">
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" placeholder="C)" aria-describedby="basic-addon1">
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" placeholder="D)" aria-describedby="basic-addon1">
        </div>

        <h2>Type Answer</h2>

    </div>
    <div class="row third-row">
        <button class="btn ">Back</button>
        <button class="btn ">Next</button>
    </div>
</div>
