.subject {
    border: 1px solid #53b1a2;
    border-radius: 20px;
    background-color: #bd4f87;
    color: white;
    padding: 10px;
    margin: 20px;
}

.subject .name {
    margin: auto;
}

.subject .name p {
    font-size: x-large;
    text-align: center;
}

.subject img {
    border-radius: 50%;
    max-width: 10vh;
    max-height: 20vh;
}

.subject .download {
    margin: auto;
}

.subject .download img {
    width: 25%;
    height: 55%;
    float: right;
}

@media (max-width: 768px) {
    .subject img {
        max-width: 8vh;
        max-height: 8vh;
    }
    .subject .name p {
        font-size: medium;
        text-align: center;
    }
    .subject .download img {
        width: 25%;
        height: 55%;
        float: right;
    }
}
