<nav class="navbar navbar-expand-sm ">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-caret-down" ></i>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item ">
                <a class="nav-link" routerLinkActive="active" routerLink="/teacher">
                    <span>
              <img src="assets/img/home-page/teacher.svg " alt=" ">
      </span> Teacher
                </a>
            </li>

            <li ngbDropdown class="nav-item dropdown menu-area ">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="mega-one" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
            <img src="assets/img/home-page/chalkboard-teacher-solid.svg " alt=" ">
      </span> Education Day
                </a>
                <div ngbDropdownMenu class="dropdown-menu mega-area" aria-labelledby="mega-one">
                    <div class="container-storage">
                        <div class="row">
                            <div class="com-sm-6 col-lg-3">

                                <a routerLink="/subject" class="dropdown-iteam">subject</a>
                            </div>
                            <div class="com-sm-6 col-lg-3">
                                <a routerLink="/assignment" class="dropdown-iteam">assignmnent</a>
                            </div>
                            <div class="com-sm-6 col-lg-3">
                                <a routerLink="/online" class="dropdown-iteam">online</a>
                            </div>
                            <div class="com-sm-6 col-lg-3">
                                <a routerLink="/attendance" class="dropdown-iteam">attendance</a>
                            </div>
                            <div class="com-sm-6 col-lg-3">
                                <a href="#" class="dropdown-iteam">timetable
              </a>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li ngbDropdown class="nav-item dropdown menu-area ">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="mega-one" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
            <img src="assets/img/home-page/laugh-beam-regular.svg " alt=" ">
    </span> free time
                </a>
                <div ngbDropdownMenu class="dropdown-menu mega-area" aria-labelledby="mega-one">
                    <div class="container-storage">
                        <div class="row">
                            <div class="com-sm-6 col-lg-3">
                                <a routerLink="/activity" class="dropdown-iteam">activity</a>
                            </div>
                            <div class="com-sm-6 col-lg-3">
                                <a href="#" class="dropdown-iteam">library</a>
                            </div>
                        </div>
                    </div>

                </div>
            </li>

            <li class="nav-item">

                <a class="nav-link" routerLinkActive="active" routerLink="/bus"><span>
                  <img src="assets/img/home-page/money-check-alt-solid.svg " alt=" ">
  </span>Bus</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" routerLinkActive="active" routerLink="/downloads"><span>
          <img src="assets/img/home-page/downLoad-solid.svg " alt=" ">
  </span>Downloads</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" routerLinkActive="active" routerLink="/fees">
                    <span>
          <img src="assets/img/home-page/bus-alt-solid.svg " alt=" ">
        </span>Fees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/noteboared">
                    <span>
                      <img src="assets/img/home-page/clipboard-regular.svg " alt=" ">
        </span>noteboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/feeds"><span>                                <img src="assets/img/home-page/Feeds.svg " alt=" ">
        </span>Feeds</a>
            </li>
        </ul>

    </div>
</nav>
