<div class="upper-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <span class="logo"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="">
                  <span>
                    <img src="assets/img/home-page/LMS.png " alt=" " class="home">
                </span></a>
                </span>
            </div>
            <div class="col-sm " style="text-align: right;">
                <a routerLink="/setting"> <i class="fa fa-cog  fa-lg"></i></a>
                <a routerLink=""> <i class="fa fa-sitemap  fa-lg"></i></a>
                <a routerLink="/quetions"> <i class="fa fa-question-circle  fa-lg"></i></a>
                <a routerLink="/info"> <i class="fa fa-info-circle  fa-lg"></i></a>
                <a routerLink="/studentlogin"> <span class="student">STUDENT LOGIN</span><i class="fa fa-graduation-cap  fa-lg"></i></a>
            </div>

        </div>
    </div>
</div>
