<!-- <div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <div class="bg-white border mt-2">
                    <div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                            <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="https://i.imgur.com/aoKusnD.jpg" width="45">
                                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{Post.username}}</span><span class="text-black-50 time">{{Post.date}}</span></div>
                            </div>
                            <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                        </div>
                    </div>
                    <div *ngIf="findText" class="p-2 px-3"><span>{{Post.text}}</span></div>
                    <div *ngIf="findImage" class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src="../../../../assets/img/web-images/teacher.png"></div>
                    <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container ">
    <div class="post">
        <div class="row personal-info">
            <div class="col-3 personal-img">
                <img src="{{this.psrc}}" alt="...">
            </div>
            <div class="col-9 name">
                <div class="row">
                    <h5>{{Post.username}}</h5>
                </div>
                <div class="row">
                    <h5>math teacher</h5>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="col">
                <div class="row">
                    <p>
                        {{Post.text}}
                    </p>
                </div>
                <div class="row files">
                    <img src='{{this.src}}' alt="...">
                </div>
            </div>
        </div>
        <div class="row likes">
            <!-- <likes [isActive]="tweet.isLiked" [likeCount]="tweet.likesCount"></likes> -->
        </div>
    </div>
</div>
