.subject {
    border: 1px solid #53b1a2;
    border-radius: 20px;
    background-color: #bd4f87;
    color: white;
    padding: 10px;
    margin: 20px;
}

.subject img {
    border-radius: 50%;
    max-width: 10vh;
    max-height: 20vh;
}
