<div class="container">
    <div class="row">
        <div class="col-4">Name</div>
        <div class="col-8">{{teacherInfo[0]}}</div>
    </div>
    <div class="row">
        <div class="col-4">Email</div>
        <div class="col-8">{{teacherInfo[1]}}</div>
    </div>
    <div class="row">
        <div class="col-4">Gender</div>
        <div class="col-8">{{teacherInfo[2]}}</div>
    </div>
    <div class="row">
        <div class="col-4">Phone</div>
        <div class="col-8">{{teacherInfo[3]}}</div>
    </div>
    <div class="row">
        <div class="col-4">G.Blood</div>
        <div class="col-8">{{teacherInfo[4]}}</div>
    </div>
</div>
