.row {
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

.content {
    margin: auto;
}

.cards {
    width: 17rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row .card-body {
    color: #53b1a2;
    margin: 10px 5px;
    height: 15vh;
}

.card-body .title {
    display: flex;
    justify-content: space-between;
}

.card-body .title span {
    color: #53b1a2;
    font-size: 1.5em;
}

.card-body .title h5 {
    font-size: 1.6em;
}

.card-body p {
    color: rgb(145, 140, 140);
    margin-top: 15px;
}

.cards:hover {
    background-color: rgb(243, 243, 243);
}

// .card-body {
//     transition: box-shadow 1s;
//      transition: background-color 1s;
// }
// .card-body:hover {
//     box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
//      background-color: cornflowerblue !important;
// }
@media (width: 1440px) {
    .col {
        padding: 0;
        max-width: 25%;
        height: auto;
    }
}

@media(width:768px) {
    .row {
        padding: 20px;
        margin: 20px 100px;
        width: fit-content;
    }
    .cards {
        margin: auto;
    }
}

@media(max-width:425px) {
    .row {
        padding: 20px;
        margin: 10px 10px 10px 0;
        width: fit-content;
    }
    .cards {
        margin: auto;
    }
}

@media(width:320px) {
    .row {
        padding: 20px;
        margin: 0;
        width: 100%;
    }
    .row .card-body {
        width: 100%;
        margin: 15px 0;
    }
    .cards {
        margin: auto;
        font-size: small;
        width: 100%;
    }
}

@media (width:375px) {
    .row {
        padding: 40px;
        margin: 0;
        width: 100%;
    }
    .row .card-body {
        width: 100%;
        margin: 15px 0;
    }
    .cards {
        margin: auto;
        font-size: small;
        width: 100%;
    }
}