<div class="row">
    <ng-container *ngFor="let a of Tittle ; let i =index">
        <div class="col-lg">
            <div class="cards">
                <div class="card-body">
                    <div class="content">
                        <div class="title">
                            <h5 class="card-title">{{a}}</h5>
                            <span class="num"> 0 </span>
                        </div>
                        <p class="card-text">Total {{a}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="(i+1)%4==0" class="w-100"></div>
    </ng-container>
</div>

<upcoming-events></upcoming-events>