<!-- <div class="container-fluid cont-card">
    <div class="row">
        <div class="col">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">Subject </h5>
                        <span class="num"> 0 </span>
                    </div>
                    <p class="card-text">Total Subject</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">Notice </h5>
                        <span class="num"> 0 </span>
                    </div>
                    <p class="card-text">Total Notice</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">Exame </h5>
                        <span class="num"> 0 </span>
                    </div>
                    <p class="card-text">Total Exame</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">Online System </h5>
                        <span class="num"> 0 </span>
                    </div>
                    <p class="card-text">Total Online System</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">Teachers</h5>
                        <span class="num"> 0 </span>
                    </div>
                    <p class="card-text">Total Teachers</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">Issued Book</h5>
                        <span class="num"> 0 </span>
                    </div>
                    <p class="card-text">Total Issued Book</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">Pending Homework</h5>
                        <span class="num"> 0 </span>
                    </div>
                    <p class="card-text">Total Pending Homework</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">Attendance</h5>
                        <span class="num"> 0 </span>
                    </div>
                    <p class="card-text">Total Attendance</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <full-calendar  [options]="calendarOptions" ></full-calendar>
        </div>
    </div>
</div> -->


<div class="row Row">
    <ng-container *ngFor="let a of Tittle ; let i =index">
        <div class="col-lg">
            <div class="cards">
                <div class="card-body">
                    <div class="content">
                        <div class="title">
                            <h5 class="card-title">{{a}}</h5>
                            <span class="num"> 0 </span>
                        </div>
                        <p class="card-text">Total {{a}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="(i+1)%4==0" class="w-100"></div>
    </ng-container>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col title">
            <div class="header">
                <h2>Upcoming Events</h2>
                <span> Upcoming Important Events</span>
            </div>

            <button class="btn">Show All</button>
        </div>
    </div>

    <div class="row">
        <div class="col date">
            <p><i class="fa fa-calendar" aria-hidden="true"></i> Sunday,28 March 2021</p>
            <span>The number of days remaining 15 day</span>
        </div>
    </div>



    <div class="row holiday">
        <div class="col">
            <p>Spring Vacation</p>
            <span>sunday,march28,2021 - Thursday,April 15,2021</span>
        </div>
    </div>

</div>