<div class="container-fluid upload-chapter">
    <h1 style="text-align: center; margin-bottom: 40px;"> Upload chapter</h1>
    <div class="row">
        <div class="col-5">
            <div id="accordion">
                <div id="accordion" class="accor">
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                          <p>Computer History</p>
                      </button>
                    </p>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card card-body mb-2">
                            <div class="container">
                                <div class="row">
                                    <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                                    <p>Chapter 1</p>
                                    <a href="#"> Download</a>
                                    <a href="#"> Read</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion" class="accor">
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                          <p>Computer History</p>
                      </button>
                    </p>
                    <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                        <div class="card card-body mb-2">
                            <div class="container">
                                <div class="row">
                                    <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                                    <p>Chapter 1</p>
                                    <a href="#"> Download</a>
                                    <a href="#"> Read</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion" class="accor">
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                        <p>Computer History</p>
                    </button>
                    </p>
                    <div id="collapseThree" class="collapse show" data-parent="#accordion">
                        <div class="card card-body mb-2">
                            <div class="container">
                                <div class="row">
                                    <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                                    <p>Chapter 1</p>
                                    <a href="#"> Download</a>
                                    <a href="#"> Read</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body mb-2">
                            <div class="container">
                                <div class="row">
                                    <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                                    <p>Chapter 1</p>
                                    <a href="#"> Download</a>
                                    <a href="#"> Read</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body mb-2">
                            <div class="container">
                                <div class="row">
                                    <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
                                    <p>Chapter 1</p>
                                    <a href="#"> Download</a>
                                    <a href="#"> Read</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-7 upload-section">
            <div class="container-fluid">
                <div class="row first-row">
                    <div class="col">

                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect01">
                          <option selected>Subject</option>
                          <option value="1">Math</option>
                          <option value="2">Arabic</option>
                          <option value="3">English</option>
                        </select>
                        </div>

                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Subject</option>
                      <option value="1">Math</option>
                      <option value="2">Arabic</option>
                      <option value="3">English</option>
                    </select>
                        </div>
                    </div>
                </div>
                <div class="row upload">
                    <div class="col upload-file">
                        <label for="file-upload" class="file-upload">
                          File Upload
                      </label>
                        <input id="file-upload" type="file" />
                    </div>

                    <div class="col upload-photo">
                        <label for="file-upload" class="photo-upload">
                        Photo Upload
                    </label>
                        <input id="file-upload" type="file" />
                    </div>
                </div>
                <div class="row upload-btn">
                    <button class="btn "> Upload <div class="arrow-down"></div></button>
                </div>
            </div>

        </div>
    </div>
</div>
